@page
@model KoiOrderingSystem_Web.Pages.Admin.KoiTypes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KoiType[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KoiType[0].IsEndangered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KoiType[0].IsBatch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KoiType[0].Picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KoiType[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KoiType[0].UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.KoiType)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsEndangered)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsBatch)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.Picture)" style="width:150px;height:150px;object-fit:cover" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
