@page
@model KoiOrderingSystem_Web.Pages.Admin.Farms.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Farm[0].FarmName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Farm[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Farm[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Farm[0].Manager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Farm[0].EstablishedYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Farm[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Farm[0].UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Farm) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FarmName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manager.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstablishedYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
