@page
@model KoiOrderingSystem_Web.Pages.Admin.Insurances.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Insurance[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Insurance[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Insurance[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Insurance[0].DeletedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Insurance[0].UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Insurance[0].IsDeleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Insurance) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
