@page
@model KoiOrderingSystem_Web.Pages.Customer.OrderTrips.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrderTrip</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderTrip.TripStartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderTrip.TripStartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderTrip.TripEndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderTrip.TripEndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderTrip.MaxParticipants)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderTrip.MaxParticipants)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderTrip.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderTrip.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderTrip.Order)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderTrip.Order.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderTrip.Farm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderTrip.Farm.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderTrip.Consultant)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderTrip.Consultant.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderTrip.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderTrip.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderTrip.DeletedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderTrip.DeletedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderTrip.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderTrip.UpdatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderTrip.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderTrip.IsDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.OrderTrip?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
