@page
@model KoiOrderingSystem_Web.Pages.Staff.Sales.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Quote</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quote.QuoteAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quote.QuoteAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quote.ApprovalStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quote.ApprovalStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quote.Order)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quote.Order.ShippingAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quote.SalesStaff)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quote.SalesStaff.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quote.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quote.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quote.DeletedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quote.DeletedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quote.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quote.UpdatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quote.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quote.IsDeleted)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Quote.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
