@page
@model KoiOrderingSystem_Web.Pages.Staff.Sales.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Quote</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quote.QuoteAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quote.QuoteAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quote.ApprovalStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quote.ApprovalStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quote.Order)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quote.Order.ShippingAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quote.SalesStaff)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quote.SalesStaff.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Quote?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
