@page
@model KoiOrderingSystem_Web.Pages.Staff.Sales.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].QuoteAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].ApprovalStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].SalesStaff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Quote) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuoteAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovalStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.ShippingAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesStaff.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
